NODE_ENV=development
PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/xv_allison
JWT_SECRET=cambia_este_secreto_largo
JWT_EXPIRES_IN=8h
CORS_ORIGIN=http://localhost:5173

SEED_ADMIN_EMAIL=admin@xvallison.local
SEED_ADMIN_PASSWORD=cambia_admin_123
SEED_ACCESS_EMAIL=acceso@xvallison.local
SEED_ACCESS_PASSWORD=cambia_acceso_123
